body {
	background-color: #F6F2E9;
}

.hatamori_table_donyu {
	display: table;
}
.hatamori_table_top {
	display: table;
}

.hatamori_clearL {
	clear: left;
}
.hatamori_center {
	text-align: center;
}
.hatamori_button {
	text-align: center;
	margin-top: 24px;
	display: table;
	margin-left: 285px;
}
.hatamori_buyButton {
	background-image: url(%E7%95%91%E5%AE%88LP_img/Button_Buy_On.png);
	background-repeat: no-repeat;
	float: left;
	padding-right: 2px;
}
.hatamori_buyButton a {
	display: block;
}
.hatamori_buyButton img {
	border: none;
}
.hatamori_buyButton a:hover {
	background: none;
}
.hatamori_buyButton a:hover img{
	visibility: hidden;
}
.hatamori_button_under {
	text-align: center;
	margin-top: 14px;
	margin-left: 285px;
}
.hatamori_logo_mini {
	padding-top: 0px;
	padding-left: 0px;
	float: left;
	margin-top: -2px;
	margin-right: 4px;
}
#hatamoritop h1 {
	font-size: 34pt;
	color: #494949;
	margin-bottom: 18px;
}
.hatamoritop_smallText {
	font-size: 34px;
}
.hatamori_h1color {
	color: #3BA99C;
}
#hatamoritoph2 {
	width: 400px;
	display: inline-block;
}
.hatamori_yokonarabi_goodPoint1 {
	display: table-cell;
	vertical-align: middle;
}
.hatamori_yokonarabi_goodPoint2 {
	display: table-cell;
	vertical-align: middle;
	padding-left: 33px;
}
#hatamori_goodpoint {
}
.hatamori_yokonarabi_howToUse1 {
	display: table-cell;
	vertical-align: top;
	padding-right: 64px;
}
.hatamori_yokonarabi_howToUse2 {
	display: table-cell;
	vertical-align: top;
	padding-right: 64px;
}
.hatamori_yokonarabi_howToUse3 {
	display: table-cell;
	vertical-align: top;
	padding-right: 2px;
}
.hatamori_yokonarabi_top_donyu {
	display: table-cell;
	padding-left: 15px;
	vertical-align: top;
}
.hatamori_yokonarabi_middle_whenuse1 {
	display: table-cell;
	vertical-align: middle;
}
.hatamori_yokonarabi_middle_whenuse2 {
	display: table-cell;
	padding-left: 0px;
	vertical-align: middle;
}
.hatamori_yokonarabi_middle_whenuse1text {
	display: table-cell;
	vertical-align: middle;
	padding-right: 154px;
	font-size: 14pt;
}
.hatamori_yokonarabi_middle_whenuse2text  {
	display: table-cell;
	padding-left: 0px;
	vertical-align: middle;
	padding-right: 80px;
	font-size: 14pt;
}
.hatamori_yokonarabi_top_topL {
	display: table-cell;
	vertical-align: top;
	padding-left: 0px;
}
.hatamori_yokonarabi_top_topR {
	display: table-cell;
	vertical-align: top;
	padding-left: 18px;
	margin-top: 0px;
	padding-top: 10px;
}
.hatamori_topH2 {
	margin-top: 0px;
	margin-bottom: 10px;
	color: #494949;
	font-size: 22pt;
}
.hatamori_howToUse_img1  {
	padding-left: 58px;
}
.hatamori_table_whenuse1 {
	display: table;
	margin-bottom: 20px;
}
.hatamori_table_whenuse2 {
	display: table;
	margin-bottom: 20px;
}
.hatamori_howToUseH1 {
	color: #3BA99C;
	margin-bottom: 10px;
}
.hatamori_table_howToUse {
	display: table;
	margin-top: 0px;
}
.hatamori_howToUse_p1 {
	margin-top: 0px;
}
.hatamori_howToUse_p2 {
	margin-top: 0px;
	padding-left: 16px;
}
.hatamori_howToUse_p3 {
	margin-top: 0px;
	padding-left: 13px;
}
.hatamori_table_goodpoint {
	display: table;
	margin-left: 30px;
}
.hatamori_askButton {
	background-image: url(%E7%95%91%E5%AE%88LP_img/Button_ask_On.png);
	background-repeat: no-repeat;
	float: left;
}
.hatamori_askButton a{
	display: block;
}
.hatamori_askButton img {
	border: none;
}
.hatamori_askButton a:hover {
	background: none;
}
.hatamori_askButton a:hover img{
	visibility: hidden;
}
